# Google Gemini API Key
GOOGLE_API_KEY=

# Model sử dụng cho transcription
GEMINI_MODEL=gemini-2.5-pro

# === VERTEX AI CONFIG ===
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GCS_BUCKET_NAME=
GOOGLE_APPLICATION_CREDENTIALS=
